p

{

    font-size: 14px; /* Paragraphes de 14 pixels */
    text-align: center;
}

h1

{

    font-size: 40px; /* Titres de 40 pixels */
    text-align: center;
    color: red;
}

h2

{
	font-size: 30px;
    text-align: center;
    color: blue;
}

div

{
	 	height:600px;
	 	width: 60%;
	 	background-color: gray;
	 	margin-top: 100;
	 	margin-bottom: 100;
	 	margin-right: auto;
	 	margin-left: auto;
	 	border-style: groove;
}
