p

{

    font-size: 14px; /* Paragraphes de 14 pixels */

}

h1

{

    font-size: 40px; /* Titres de 40 pixels */

}

div

{
	 	height:600px;
	 	width: 60%;
	 	background-color: gray;
	 	margin-top: auto;
	 	margin-bottom: auto;
	 	margin-right: auto;
	 	margin-left: auto;
}
