p
{

    font-size: 14px; /* Paragraphes de 14 pixels */
    text-align: center;
    color: white;
}

h1
{

    font-size: 40px; /* Titres de 40 pixels */
    text-align: center;
    color: orange;
}

h2
{
	font-size: 30px;
    text-align: center;
    color: orange;
}

#gameArea
{
	 	height:600px;
	 	width: 60%;
	 	background-color: gray;
	 	margin-top: 50px;
	 	margin-bottom: 100px;
	 	margin-right: auto;
	 	margin-left: auto;
	 	border-style: groove;
}

#rulesdiv
{
	height:100px;
	 	width: 100%;
	 	background-color: orange;
	 	margin-top: 30px;
	 	margin-bottom: 100px;
	 
	 	
}

body
{
	height:100%;
	width: 100%;
}